extends _master
block content
  h1(@click="clickh1")
    a
      | Document Title
      span.before Document Title
      span.after Document Title
  article
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt sint adipisci explicabo similique sit doloribus dolor numquam veritatis commodi, odit perferendis accusantium modi hic at, provident facilis quis! Deserunt!