/* UL STYLES */
ul.style-disc{
  list-style-type: disc;
  padding-left: 1em;
}
ul.style-decimal{
  list-style-type: decimal;
  padding-left: 1em;
}

/*UL DISC STYLES IN THIS SITE*/
ul.style-decimal{
  line-height: 1.8;
}
ul.style-disc{
  line-height: 1.8;
}
