// Color
$c-brown: #585039 !default;
$c-yellow: #f6f1bd !default;
$c-blue: #40c7f4 !default;
$c-sky: #98d1ef !default;

// Font size
$fz: 15px;
$fzm: 13px;

// Breakpoint
$xs: 640px;
$ls: 767.9px;
$s: 768px;
$lm: 1023.9px;
$m: 1024px;